h2{text-align: center; color:darkslategrey;font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5px 5px 8px rgba(198, 47, 249, 0.574);


}

.picture{border-width: 3px;border-style: solid; border-color: black; box-shadow: 5px 5px 5px rgba(198, 47, 249, 0.574);
    width: 200px; height: 200px;margin-left: auto; margin-right: auto; 



}

h1{background-color: blueviolet; text-align: center;


}

.important{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: x-large; 
    text-shadow: 5px 5px 8px rgba(198, 47, 249, 0.574)

}

.nav {
    background-color: violet;
    width: fit-content; padding: 5px;
}

.nav li a{
    color:black
}
.nav li a:hover{
    color:grey
}

/*.back {
    background-color: violet; background-size: covrer;
}
*/
.back a{
    color:black
}
.back a:hover{
    color:grey
}
